/** GENERAL ---------------------------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family: sans-serif;
}

main {
    background-color: whitesmoke;
    align-self: center;
    height: 87dvh;
    width: 55%;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

/** HEADER ---------------------------------*/
.title-buttons {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: start;
    justify-content: space-between;
}

.create-project {
    border: 1px solid #0000003c;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.project-name {
    border: 1px solid #0000003c;
    border-radius: 5px;
    font-size: 1rem;
    height: 2rem;
}

.create-project {
    height: 2.3rem;
}

/** PROJECT-DASBOARD ---------------------------------*/
.todo__projects-wrapper {
    flex: 10 1 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
}

.todo__project {
    position: relative;
    background-color: #cacaca;
    padding: 1rem;
    border-radius: 10px;
}

.project__button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.todo__project h2 {
    margin: 0;
}

/** PROJECT-DIALOG ---------------------------------*/

.project__dialog-close {
    position: absolute;
    top: 0;
    left: 0;
    border: transparent;
    background-color: transparent;
    font-size: 1.4rem;
}

.project__dialog {
    z-index: 2;
    margin: auto;
    height: 80dvh;
    width: 70%;

    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
}

.project__dialog h2 {
    margin: 0;
}

.project__dialog-headerAndButtons {
    display: flex;
    width: 70%;
    padding: 0 10px;
    justify-content: space-between;
}

.add-task {
    border: 1px solid #0000003c;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.project__dialog-list {
    padding: 0;
    list-style: none;
    background-color: #b8b8b839;
    border-radius: 1rem;
    width: 70%;
    height: 89%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-bottom: 0;
}

.to-do {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.todo__button {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.todo__check {
    margin: 0;
    width: 1.2rem;
    height: 1.2rem;
}

/** ITEM DIALOG ---------------------------------*/

.item__dialog {
    z-index: 3;
    margin: auto;
    height: 80dvh;
    width: 21%;

    border: 2px solid black;
    border-radius: 1rem;
    padding: 2rem;
    left: 49%;
    background-color: peachpuff;
}